
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
/****************************
variables
****************************/

$fontFamily: 'Raleway', sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadow: #cccac5;
$white: #fff;
$padding: 50px 0;
$transition: .3s ease;

/****************************
mixins
****************************/
@mixin btn {
    padding: 15px 40px;
    color: $white;
    margin-top: 20px;
    background-color: $pink;
    border: none;
    font-size: 1rem;
    transition: $transition;
    &:hover{
        background-color: $black;
        cursor: pointer;
    }
}
/****************************
basic
****************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: $font;
    font-family: $fontFamily;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
    transition: $transition;
    &:hover{
        color: $pink;
    }
}
.container{
    width: 80%;
    margin: auto;
}
/****************************
nav
****************************/
nav{
    background: linear-gradient(to right, $pink, $lightgray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 0 50px;
    @media (max-width: 768px) {
        flex-direction: column;
        padding: 5px;
    }
    .logo{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.5rem;
        transition: $transition;
        span{
            color: $white;
            font-size: 1rem;
            font-weight: 600;
        }
        &:hover{
            color: $black;
            transform: scale(1.1);
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li{
            margin-left: 30px;
            @media (max-width: 768px) {
                margin-left: 5px;
            }
            a{
                text-transform: uppercase;
            }
            &:nth-child(5){
                background: $pink;
                padding: 10px 20px;
                a{
                    color: $white;
                    &:hover{
                        color: $lightgray;
                    }
                }
            }
            &:nth-child(6){
                background: $black;
                padding: 10px 15px;
                a{
                    color: $white;
                    &:hover{
                        color: $lightgray;
                    }
                }
            }
        }
       
    }
}

/****************************
header
****************************/
header{
    background-image: url(/img/header.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 300px;
    @media (max-width: 768px) {
        padding-right: 0;
        text-align: center;
        align-items: center;
    }
    h1{
        font-size: 4rem;
        line-height: 1.1;
        padding-bottom: 20px;
        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
    h3{
        color: $pink;
        font-size: 2rem;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
    p{
        color: $pink;
        font-size: 1.3rem;
        margin: 20px 0;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: .8rem;
        }
    }
    button{
        @include btn;
    }
}

/****************************
headings
****************************/
.headings{
    padding: $padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    article:first-child{
        flex: 0 0 19%;
        @media (max-width: 768px) {
           flex: 0 0 100%;
        }
        h2{
            color: $lightgray;
            font-size: 9rem;
        }
    }
    article:last-child{
        flex: 0 0 79%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            flex: 0 0 100%;
         }
        h3{
            font-size: 1rem;
        }
        h2{
            font-size: 3rem;
            color: $black;
            @media (max-width: 768px) {
                font-size: 2rem;
             }
            span{
                color: $pink;
            }
        }
        p{
            font-size: 1.3rem;
            font-weight: 400;
        }
    }
}

/****************************
about
****************************/
.about{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    article:first-child{
        flex: 1;
        background-image: url(/img/about.jpg);
        background-position: center;
        background-size: cover;
        @media (max-width: 768px) {
            flex: 0 0 100%;
         }
    }
    article:last-child{
        flex: 1;
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        @media (max-width: 768px) {
            flex: 0 0 100%;
         }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: .9rem;
        }
    }  
}
/****************************
services
****************************/
.services{
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article{
        flex: 0 0 30%;
        border: 1px solid $black;
        padding: 20px;
        margin-bottom: 50px;
        transition: $transition;
        @media (max-width: 768px) {
            flex: 0 0 100%;
         }
        &:hover{
            box-shadow: 0 0 20px $boxShadow;
            transform: scale(1.1);
        }
        i{
            font-size: 4rem;
            color: $pink;
            margin-bottom: 15px;
        }
        h4{
            font-size: 1.3rem;
        }
        hr{
            margin: 15px 0;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

/****************************
personal business
****************************/
.personalBusiness{
    background-color: $black;
    padding-bottom: 50px;
    .headings{
        article:last-child{
            align-items: flex-start;
            button{
                @include btn;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }
            h2{
                color: $white;
            }
            h3{
                color: $white;
            }
            p{
                color: $white;
            }
        }
    
    }
    .counter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        article{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: 768px) {
                flex: 0 0 100%;
             }
            h2{
                color: $pink;
                font-size: 3rem;
            }
            h4{
                color: $pink;
                font-size: 1.5rem;
            }
            hr{
                width: 20%;
                margin: 30px auto;
                border: none;
                height: 2px;
                background-color: $white;
            }
        }
    }
 
}


/****************************
team
****************************/
.team{
    .teamImg{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        padding-bottom: 50px;
        article{
            flex: 0 0 30%;
            @media (max-width: 768px) {
                flex: 0 0 100%;
             }
            img{
                border-radius: 50%;
                width: 100%;
                border: 15px solid $lightgray;
                object-fit: cover;
                opacity: .8;
                transition: $transition;
                &:hover{
                    opacity: 1;
                    border: 15px solid $pink;
                    transform: scale(1.1);
                }
            }
            h4{
                color: $pink;
                margin: 15px 0;
                font-size: 1.3rem;
            }
        }
    }
}

/****************************
footer
****************************/

footer{
    background: linear-gradient(to right, $black, $pink);
    padding: $padding;
    color: $white;
    text-align: center;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        article{
            flex: 1;
            @media (max-width: 768px) {
                flex: 0 0 100%;
                margin-bottom: 30px;
             }
            .logo{
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.5rem;
                transition: $transition;
                color: $white;
                span{
                    color: $pink;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
}